body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.App {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  width: 60vw;
  min-width: 1000px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}